@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("./bg2.jpg");
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("./bg2.jpg");
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("./bg2.jpg");
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    width: 100%;
    height: 100vh;
    font-family: "Cabin", sans-serif;
    transition: background-color 0.4s ease;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

/* styling todo cards */

.todo-card {
    cursor: pointer;
    user-select: none;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
    margin: 1.5rem auto;
    width: 900px;
    max-height: 100px;
    color: white;
    border: none;
    outline: none;
    border-radius: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
    opacity: 0;
    transition: all 0.4s ease;
    animation: card-creation 0.5s ease forwards;
}

/* .todo-card:hover {
    background-color: var(--bg);
} */

@keyframes card-creation {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

.todo-card.done {
    text-decoration: line-through;
    text-decoration-color: greenyellow;
    text-decoration-thickness: 4px;
}

.todo-title-date-cont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
}

.todo-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    margin-bottom: 0.2rem;
}

.todo-date,
.todo-project,
.todo-description {
    font-size: 1rem;
    font-weight: 100;
}

.todo-description {
    display: none;
    transform: scaleY(0);
    transition: transform 1s ease;
}

.todo-description.show {
    display: block;
    visibility: visible;
    transform: scaleY(1);
}

@keyframes desc-appear {
    from {
        display: none;
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        display: block;
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes desc-disappear {
    from {
        display: block;
        transform: scaleY(1);
    }
    to {
        display: none;
        transform: scaleY(0);
    }
}

.todo-show-more {
    padding: 0;
    margin: 0;
    background: none;
    outline: none;
    border: none;
    position: relative;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}

.todo-show-more::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 3px solid white;
    border-bottom: none;
    border-left: none;
    rotate: -135deg;
    transition: 0.4s ease;
}

.todo-show-more.open::before {
    transform: rotate(-90deg);
}

.markDoneBtn {
    position: relative;
    border: 3px solid white;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.markDoneBtn::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 5px;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    border: 4px solid greenyellow;
    border-top: none;
    border-right: none;
    transform-origin: center;
    translate: -50% -50%;
    rotate: -45deg;
    opacity: 0;
}

.markDoneBtn.done::before {
    animation: checkbox 0.5s ease both;
}

@keyframes checkbox {
    from {
        transform: scaleX(0);
        opacity: 0;
    }
    50% {
        border-bottom-width: 0;
    }
    to {
        transform: scaleX(1);
        border-bottom-width: 4px;
        opacity: 1;
    }
}

.markDoneBtn.done {
    border-color: greenyellow;
}

/* styling sdiebar */

.sidebar {
    z-index: 5;
    display: grid;
    grid-template-rows: 100px 4fr 8fr;
    justify-items: center;
    height: 100vh;
    width: 350px;
    overflow: hidden;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    transition: 0.5s ease;
}

.sidebar.closed {
    margin-left: -350px;
}

.projects-section-container {
    width: 100%;
    overflow-y: auto;
}

.projects-section-container::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
    border-radius: 40px;
}
.projects-section-container::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color: gray;
}

.projects-section-container::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

.projects-container > *:last-child {
    margin-bottom: 20px;
}

.main-section-container,
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sidebar-btn {
    background-color: transparent;
    color: white;
    border: none;
    background-color: none;
    width: 200px;
    border-radius: 30px;
    padding: 0.8rem 2rem;
    transition: 0.4s ease;
}

.sidebar-btn:not(.active):not(.show-projects-btn):hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.toggle-sidebar-btn {
    justify-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: none;
    border: none;
}

.toggle-sidebar-btn > div {
    width: 2rem;
    height: 1px;
    margin: 5px;
    background-color: white;
}

.main-section-container *,
.projects-section-container * {
    font-size: 1.4rem;
}
.show-projects-btn {
    position: sticky;
    z-index: 50;
    top: 0;
    left: 0;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 20px;
}

.show-projects-btn::before {
    position: absolute;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border: 3px solid white;
    border-left: none;
    border-bottom: none;
    top: 50%;
    transform: translate(-200%, -50%) rotate(45deg);
    transition: 0.4s ease;
}

.show-projects-btn.open::before {
    transform: translate(-200%, -50%) rotate(135deg);
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-project-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    color: black;
    background-color: white;
    border: none;
    border-radius: 50%;
}

.project-cont {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    border-radius: 30px;
    transition: 0.4s ease;
}
.project-cont:hover {
    background-color: var(--bg-color) !important;
}
.project-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

/* styling our pages */
.page-container {
    width: 100%;
    height: 100%;
    padding: 4rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

.page-container .toggle-sidebar-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.page-title {
    margin: 2rem 0;
    border-radius: 30px;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: white;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    font-size: 1.5rem;
    color: white;
}

.add-todo-btn {
    position: fixed;
    content: "+";
    color: black;
    font-size: 2rem;
    bottom: 0;
    right: 5%;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin: 4rem;
    background-color: white;
}

.add-todo-btn:hover {
    box-shadow: 0 0 15px white;
}
